* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0f0f1e;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  width: 90vw;
  top: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #00f7ff;
  text-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
}


header nav ul {
  display: flex;
  gap: 48px;
}


header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}


header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #00f7ff;
  transition: width 0.2s ease;
}

header nav ul li:hover::after {
  width: 100%;
}


.container {
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a);
  overflow: hidden;
}


.container::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0) 70%);

}